# Dependencies
node_modules/

# Production build
build/
dist/

# Logs and databases
*.log
*.sqlite

# Environment variables
.env

# Editor-specific files
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
